.logo{
    width: 7.5em ;
    height: 7.5em ;
}

.grass{
    font-size: large;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 150px;
}

.bleu{
    color: blue;
}

.important {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: white;
    transition: text-decoration 2s, text-decoration-color 2s, color 2s;
}