.logo img{
    width: 99px ;
    height: 99px ;
}
.grass p{
    font-size: large;
    font-weight: bold;
}
.main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 150px;
}

.bleu{
    color: blue;
}

.important{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: blue;
    transition: text-decoration 0.1s, text-decoration-color 0.1s, color 0.1s;
    background-color: white;
    border: solid blue 1px;
    text-decoration-line: none;
}


.important:hover{
    color: white;
    text-decoration-color: blue;
    text-decoration: underline;
    background-color: blue;
    text-decoration-line: none;
}

.rouge{
    color:red;
}